[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"luma.oled" = "*"
pytz = "*"
pyaudio = "*"
pillow = "*"


[dev-packages]

pytest = "*"
pdbpp = "*"
pytest-mock = "*"
